<?xml version="1.0" encoding="utf-8" ?>
<!-- nlog.config -->
<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="warn"
      internalLogFile="internal-nlog.txt">

  <targets>
    <target name="file" xsi:type="File" fileName="logs/logfile.txt"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=ToString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
